name: Build ultrahand artifacts

on:
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  build:
    name: Build ultrahand
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set environment variables
        run: |
          VER_FILE=Makefile
          VERSION=$(awk '/^APP_VERSION/{print $3}' $VER_FILE)
          DATE=$(date '+%Y-%m-%d')
          echo "RELEASE_TITLE=${DATE}" >> "${GITHUB_ENV}"
          echo "TAG=${VERSION}" >> "${GITHUB_ENV}"
          echo "DEVKITPRO=/opt/devkitpro" >> "${GITHUB_ENV}"
          echo "DEVKITA64=/opt/devkitpro/devkitA64" >> "${GITHUB_ENV}"
        shell: bash

      - name: Update system and install dependencies
        run: sudo apt-get update -y && sudo apt-get upgrade -y git build-essential python3-requests zip
        shell: bash

      - name: Install libnx
        run: |
          git config --global --add safe.directory "*"
          git clone --recurse-submodules https://github.com/switchbrew/libnx.git
          cd libnx && make install -j$(nproc)
        shell: bash

      - name: Build
        run: make all && python sdout.py
        shell: bash

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ultrahand-${{ env.TAG }}
          path: sdout.zip

      - name: Create a release
        run: |
          apt-get update -y && apt-get install -y gh
          echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token
          gh release create "${RELEASE_TITLE}" sdout.zip --title "${RELEASE_TITLE}" --notes "Release ultrahand-${{ env.TAG }}"
        env:
          RELEASE_TITLE: ${{ env.RELEASE_TITLE }}